USE [master]
GO
/****** Object:  Database [GCMS]    Script Date: 10/27/2025 10:46:51 AM ******/
CREATE DATABASE [GCMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GCMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GCMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GCMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GCMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GCMS]
GO
/****** Object:  Table [dbo].[CartItmes]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItmes](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
 CONSTRAINT [PK_CartItmes] PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartPayment]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartPayment](
	[CartPaymentID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
 CONSTRAINT [PK_CartPayment] PRIMARY KEY CLUSTERED 
(
	[CartPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[DebtID] [int] IDENTITY(1,1) NOT NULL,
	[RenterID] [int] NOT NULL,
	[RentalID] [int] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Debts] PRIMARY KEY CLUSTERED 
(
	[DebtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceRentals]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceRentals](
	[DeviceRentalID] [int] IDENTITY(1,1) NOT NULL,
	[RenterID] [int] NOT NULL,
	[RentalID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[RentalStatus] [nvarchar](20) NOT NULL,
	[Note] [nchar](100) NULL,
 CONSTRAINT [PK_DeviceRentals] PRIMARY KEY CLUSTERED 
(
	[DeviceRentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameID] [int] IDENTITY(1,1) NOT NULL,
	[GameTypeID] [int] NOT NULL,
	[GameName] [nvarchar](20) NOT NULL,
	[Rate] [decimal](10, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTypes]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTypes](
	[GameTypeID] [int] IDENTITY(1,1) NOT NULL,
	[GameTypeName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GameTypes] PRIMARY KEY CLUSTERED 
(
	[GameTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginLogs]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](80) NOT NULL,
	[LoginDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LoginLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeID] [int] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](15) NOT NULL,
	[SecondName] [nvarchar](15) NOT NULL,
	[ThirdName] [nvarchar](15) NULL,
	[LastName] [nvarchar](15) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[TotalFees] [decimal](10, 2) NOT NULL,
	[OnDebt] [bit] NOT NULL,
	[PaymentID] [int] NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Rentals] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renters]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renters](
	[RenterID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[NationalNO] [nvarchar](20) NOT NULL,
	[IsBand] [bit] NOT NULL,
 CONSTRAINT [PK_Renters] PRIMARY KEY CLUSTERED 
(
	[RenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreCategories]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StoreCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreItems]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_StoreItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItmes]  WITH CHECK ADD  CONSTRAINT [FK_CartItmes_Carts] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
GO
ALTER TABLE [dbo].[CartItmes] CHECK CONSTRAINT [FK_CartItmes_Carts]
GO
ALTER TABLE [dbo].[CartItmes]  WITH CHECK ADD  CONSTRAINT [FK_CartItmes_StoreItems] FOREIGN KEY([ItemID])
REFERENCES [dbo].[StoreItems] ([ItemID])
GO
ALTER TABLE [dbo].[CartItmes] CHECK CONSTRAINT [FK_CartItmes_StoreItems]
GO
ALTER TABLE [dbo].[CartPayment]  WITH CHECK ADD  CONSTRAINT [FK_CartPayment_Carts] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
GO
ALTER TABLE [dbo].[CartPayment] CHECK CONSTRAINT [FK_CartPayment_Carts]
GO
ALTER TABLE [dbo].[CartPayment]  WITH CHECK ADD  CONSTRAINT [FK_CartPayment_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[CartPayment] CHECK CONSTRAINT [FK_CartPayment_Payments]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Rentals] FOREIGN KEY([RentalID])
REFERENCES [dbo].[Rentals] ([RentalID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Rentals]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Renters] FOREIGN KEY([RenterID])
REFERENCES [dbo].[Renters] ([RenterID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Renters]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Users]
GO
ALTER TABLE [dbo].[DeviceRentals]  WITH CHECK ADD  CONSTRAINT [FK_DeviceRentals_Games] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
GO
ALTER TABLE [dbo].[DeviceRentals] CHECK CONSTRAINT [FK_DeviceRentals_Games]
GO
ALTER TABLE [dbo].[DeviceRentals]  WITH CHECK ADD  CONSTRAINT [FK_DeviceRentals_Rentals] FOREIGN KEY([RentalID])
REFERENCES [dbo].[Rentals] ([RentalID])
GO
ALTER TABLE [dbo].[DeviceRentals] CHECK CONSTRAINT [FK_DeviceRentals_Rentals]
GO
ALTER TABLE [dbo].[DeviceRentals]  WITH CHECK ADD  CONSTRAINT [FK_DeviceRentals_Renters] FOREIGN KEY([RenterID])
REFERENCES [dbo].[Renters] ([RenterID])
GO
ALTER TABLE [dbo].[DeviceRentals] CHECK CONSTRAINT [FK_DeviceRentals_Renters]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_GameTypes] FOREIGN KEY([GameTypeID])
REFERENCES [dbo].[GameTypes] ([GameTypeID])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_GameTypes]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentMethods] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentMethods]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentTypes] FOREIGN KEY([PaymentTypeID])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentTypes]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Games] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Games]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Payments]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Users]
GO
ALTER TABLE [dbo].[Renters]  WITH CHECK ADD  CONSTRAINT [FK_Renters_Renters] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Renters] CHECK CONSTRAINT [FK_Renters_Renters]
GO
ALTER TABLE [dbo].[StoreItems]  WITH CHECK ADD  CONSTRAINT [FK_StoreItems_StoreCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[StoreCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[StoreItems] CHECK CONSTRAINT [FK_StoreItems_StoreCategories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActivateUser]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ActivateUser]
@UserID int,
@RowsEffected int output
as
begin
    update Users
	set
	IsActive =1
	where UserID=@UserID;

	set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCart]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_AddNewCart]
@IsLocked bit,
@CreatedByUserID int,
@NewCartID int output
as
begin
		insert into Carts(IsLocked,CreatedByUserID)
		values
		(@IsLocked,@CreatedByUserID);
		set @NewCartID = SCOPE_IDENTITY();

end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCartItem]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewCartItem]
@CartID int,
@ItemID int,
@Quantity int,
@NewCartItemID int output
as
begin
		insert into CartItmes(CartID,ItemID,Quantity)
		values
		(@CartID,@ItemID,@Quantity);
		set @NewCartItemID = SCOPE_IDENTITY();

end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDebt]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddNewDebt]
@RenterID int,
@RentalID int,
@IsPaid bit,
@CreatedByUserID int,
@NewDebtID int output
as
begin
		insert into Debts (RenterID,RentalID,IsPaid,CreatedByUserID)
		values
		(@RenterID,@RentalID,@IsPaid,@CreatedByUserID);

		set @NewDebtID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDeviceRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddNewDeviceRental]
@RenterID int,
@RentalID int,
@GameID int,
@RentalStatus nvarchar(20),
@Note nvarchar (100),
@NewDeviceRentalID int output
as
begin

		insert into DeviceRentals (RenterID,RentalID,GameID,RentalStatus,Note)
		values
		(@RenterID,@RentalID,@GameID,@RentalStatus,@Note);

		set @NewDeviceRentalID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewGame]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewGame]
@GameTypeID int,
@GameName nvarchar(20),
@Rate decimal(10,2),
@Status bit,
@NewGameID int output
as
begin
        declare @DisplayOrder int;
		set @DisplayOrder = (select max(Games.DisplayOrder)+1
                             from Games
                             where GameTypeID =@GameTypeID);

		insert into Games(GameTypeID,GameName,Rate,Status,DisplayOrder)
		values
		(@GameTypeID,@GameName,@Rate,@Status,@DisplayOrder);
		set @NewGameID = SCOPE_IDENTITY();

end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPayment]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewPayment]
@PaymentTypeID int,
@PaymentMethodID int,
@PaymentDate DateTime,
@PaymentAmount decimal(10,2),
@CreatedByUserID int,
@NewPaymentID int output
as
begin
		insert into Payments (PaymentTypeID,PaymentMethodID,PaymentDate,Amount,CreatedByUserID)
		values
		(@PaymentTypeID,@PaymentMethodID,@PaymentDate,@PaymentAmount,@CreatedByUserID);

		set @NewPaymentID =SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewPerson]
@FirstName nvarchar(15),
@SecondName nvarchar(15),
@ThirdName nvarchar(15),
@LastName nvarchar(15),
@PhoneNumber nvarchar(15),
@Email nvarchar(50),
@NewPersonID int output
as
begin
      INSERT INTO People (FirstName,SecondName,ThirdName,LastName,PhoneNumber,Email)
	  VALUES(@FirstName,@SecondName,@ThirdName,@LastName,@PhoneNumber,@Email);

	  set @NewPersonID = Scope_Identity();

end



GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewRental]
@GameID int ,
@StartDate DateTime,
@EndDate DateTime,
@TotalFees decimal(10,2),
@OnDebt bit,
@PaymentID int,
@CreatedByUserID int,
@NewRentalID int output
as
begin
		insert into Rentals (GameID,StartDate,EndDate,TotalFees,OnDebt,PaymentID,CreatedByUserID)
		values
		(@GameID,@StartDate,@EndDate,@TotalFees,@OnDebt,@PaymentID,@CreatedByUserID);

		set @NewRentalID =SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRenter]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddNewRenter]
@PersonID int ,
@NationalNo nvarchar(20),
@IsBand bit,
@NewRenterID int output
as
begin
		Insert into Renters (PersonID,NationalNO,IsBand)
		values
		(@PersonID,@NationalNo,@IsBand);

		set @NewRenterID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStoreCategroy]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddNewStoreCategroy]
@CategoryName nvarchar(30),
@NewCategoryID int output
as
begin
     insert into StoreCategories(Name)
	 values
	 (@CategoryName);

	 set @NewCategoryID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStoreItem]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewStoreItem]
@CategoryID int,
@ItemName nvarchar(30),
@Price decimal(10,2),
@Quantity int,
@ItemImagePath nvarchar(250),
@NewItemID int output
as
begin
      INSERT INTO StoreItems(CategoryID,ItemName,Price,Quantity,ItemImagePath)
	  VALUES(@CategoryID,@ItemName,@Price,@Quantity,@ItemImagePath);

	  set @NewItemID = Scope_Identity();

end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewUser]
@PersonID int,
@Username nvarchar(30),
@Password nvarchar(64),
@Role nvarchar (10),
@IsActive bit,
@NewUserID int output
as
begin
      Insert into Users  (PersonID,Username,Password,Role,IsActive)
	  values
	  (@PersonID,@Username,@Password,@Role,@IsActive);


	  set @NewUserID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeUserPassword]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ChangeUserPassword]
@UserID int,
@NewPassword nvarchar(64),
@RowsEffected int output
as
begin
    update Users
	set
	Password =@NewPassword
	where UserID=@UserID;

	set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateUser]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeactivateUser]
@UserID int,
@RowsEffected int output
as
begin
    update Users
	set
	IsActive =0
	where UserID=@UserID;

	set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindActiveCart]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindActiveCart]
@IsLocked bit,
@CartID int output,
@CreatedByUserID int output
as
begin
		select @CartID =CartID ,@CreatedByUserID = CreatedByUserID
		from Carts
		where IsLocked = @IsLocked
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindActiveDeviceRentalForAGame]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindActiveDeviceRentalForAGame]
@GameID int,
@DeviceRentalID int output,
@RenterID int output,
@RentalID int output,
@RentalStatus nvarchar(20) output,
@Note nvarchar(100) output
as
begin

select @DeviceRentalID = DeviceRentalID , @RenterID =RenterID ,@RentalID =RentalID,
       @RentalStatus = RentalStatus ,@Note = Note
	   from DeviceRentals
	   where GameID =@GameID and RentalStatus = 'Active'

end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindCart]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindCart]
@IsLocked bit output,
@CartID int ,
@CreatedByUserID int output
as
begin
		select @IsLocked=IsLocked ,@CreatedByUserID = CreatedByUserID
		from Carts
		where CartID = @CartID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindCartItem]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindCartItem]
@CartItemID int,
@CartID int output,
@ItemID int output,
@Quantity int output
as
begin
		select @CartID= CartID, @ItemID=ItemID,@Quantity=Quantity
		from CartItmes
		where CartItemID = @CartItemID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindDebt]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindDebt]
@DebtID int,
@RenterID int output,
@RentalID int output,
@IsPaid bit output,
@CreatedByUserID int output

as
begin
		select  @RenterID =RenterID ,@RentalID =RentalID,@IsPaid =IsPaid ,@CreatedByUserID =CreatedByUserID
		from Debts
		where DebtID =@DebtID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindDeviceRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindDeviceRental]
@DeviceRentalID int,
@RenterID int output,
@RentalID int output,
@GameID int output,
@RentalStatus nvarchar(20) output,
@Note nvarchar (100) output
as
begin

		select @RenterID =RenterID ,@RentalID =RentalID,@GameID =GameID,@RentalStatus=@RentalStatus,@Note=Note
		from DeviceRentals
		where DeviceRentalID =@DeviceRentalID;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindGame]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FindGame]
@GameID int,
@GameTypeID int output,
@GameName nvarchar(20) output,
@Rate decimal(10,2) output,
@Status bit output,
@DisplayOrder int output
as
begin
		select @GameTypeID = GameTypeID , @GameName =GameName,@Rate =Rate,
		@Status =Status,@DisplayOrder =DisplayOrder
		from Games
		where GameID =@GameID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindGameType]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindGameType]
@GameTypeID int,
@GameTypeName nvarchar(20) output
as
begin

		select @GameTypeName = GameTypeName
		from GameTypes
		where GameTypeID =@GameTypeID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPayment]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FindPayment]
@PaymentID int,
@PaymentTypeID int output,
@PaymentMethodID int output,
@PaymentDate DateTime output,
@Amount decimal(10,2) output,
@CreatedByUserID int output
as
begin
		select @PaymentTypeID=PaymentTypeID,@PaymentMethodID=PaymentMethodID,
		@PaymentDate=PaymentDate,@Amount=Amount,@CreatedByUserID =CreatedByUserID
		from Payments
		where PaymentID =@PaymentID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPaymentMethod]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindPaymentMethod]
@PaymentMethodID int,
@PaymentMethodName nvarchar(20) output
as
begin
		select @PaymentMethodName =PaymentMethodName
		from PaymentMethods
		where PaymentMethodID = @PaymentMethodID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPaymentType]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindPaymentType]
@PaymentTypeID int,
@PaymentTypeName nvarchar(20) output
as
begin
		select @PaymentTypeName =PaymentTypeName
		from PaymentTypes
		where PaymentTypeID = @PaymentTypeID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPersonByID]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FindPersonByID]
@PersonID int,
@FirstName nvarchar(15) output,
@SecondName nvarchar(15) output,
@ThirdName nvarchar (15)output,
@LastName nvarchar (15)output,
@PhoneNumber nvarchar(15) output,
@Email nvarchar (50)output
as 
begin 
      select @FirstName =FirstName ,@SecondName =SecondName,@ThirdName=ThirdName,@LastName=LastName,
	         @PhoneNumber=PhoneNumber,@Email=Email
	  from People
	  where PersonID =@PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FindRental]
@RentalID int,
@GameID int output ,
@StartDate DateTime output,
@EndDate DateTime output,
@TotalFees decimal(10,2) output,
@OnDebt bit output,
@PaymentID int output,
@CreatedByUserID int output
as
begin
		select @GameID =GameID, @StartDate = StartDate,@EndDate =EndDate,@TotalFees =TotalFees,
		@OnDebt =OnDebt,@PaymentID =PaymentID,@CreatedByUserID=CreatedByUserID
		from Rentals
		where RentalID =@RentalID;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindRenter]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindRenter]
@RenterID int,
@PersonID int output,
@NationalNo nvarchar(20) output,
@IsBand bit output
as
begin
		select @PersonID = PersonID ,@NationalNo = NationalNO , @IsBand = IsBand
		from Renters
		where RenterID = @RenterID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindRenterByPersonID]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindRenterByPersonID]
@PersonID int,
@RenterID int output,
@NationalNo nvarchar(20) output,
@IsBand bit output
as
begin
		select @RenterID = RenterID ,@NationalNo = NationalNO , @IsBand = IsBand
		from Renters
		where PersonID = @PersonID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindStoreItemByID]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FindStoreItemByID]
@ItemID int,
@CategoryID int output,
@ItemName nvarchar(30) output,
@Price decimal(10,2) output,
@Quantity int output,
@ItemImagePath nvarchar(250) output
as
begin
           select @CategoryID = CategoryID , @ItemName =ItemName,@Price=Price , @Quantity =Quantity,
		          @ItemImagePath = ItemImagePath
		   from StoreItems
		   where ItemID =@ItemID


end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByID]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FindUserByID]
@UserID int,
@PersonID int output,
@Username nvarchar(30) output,
@Password nvarchar(64) output,
@Role nvarchar (10) output,
@IsActive bit output
as
begin
    select @PersonID =PersonID,@Username= Username,@Password=Password,@Role=Role,@IsActive=IsActive
	from Users
	where UserID =@UserID;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsername_Password]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindUserByUsername_Password]
@Username nvarchar(30),
@Password nvarchar(64),
@UserID int output,
@PersonID int output,
@Role nvarchar(10) output,
@IsActive Bit output
as
begin
      select @UserID=UserID,@PersonID= PersonID,@Role=Role,@IsActive = IsActive
	  from users
	  where Username = @Username COLLATE Latin1_General_CS_AS
	  and Password = @Password COLLATE Latin1_General_CS_AS;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCategories]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetAllCategories]
as
begin
		select CategoryID,Trim(Name) as Name from StoreCategories;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStoreItems]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllStoreItems]

as
begin
           select * from StoreItems

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCartItems]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetCartItems]
@CartID int
as
begin
select CartItemID as 'ID' ,CartID as 'Cart ID',Trim(StoreCategories.Name) as 'Category',
       Trim(StoreItems.ItemName) as 'Name',CartItmes.Quantity,
       StoreItems.Price as 'Price Per Unit',
	   CartItmes.Quantity * StoreItems.Price as 'Total'
from CartItmes
INNER JOIN StoreItems on CartItmes.ItemID = StoreItems.ItemID
INNER JOIN StoreCategories on StoreItems.CategoryID = StoreCategories.CategoryID
where CartItmes.CartID = @CartID;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGameslist]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_GetGameslist]
as
begin
		select * from Games
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGameslistByGameType]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetGameslistByGameType]
@GameTypeID int
as
begin
		select * from Games
		where GameTypeID =@GameTypeID and Status =1
		order by DisplayOrder asc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGameTypesList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_GetGameTypesList]
as
begin
		select * from GameTypes
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLoginLogsList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetLoginLogsList]
@PageNumber smallint,
@PageSize smallint,
@Username nvarchar(30),
@StartingPeriod DateTime,
@EndingPeriod DateTime
as
begin


         if (@Username IS NULL OR @Username = '')
           AND (@StartingPeriod IS NULL OR @StartingPeriod = '')
           AND (@EndingPeriod IS NULL OR @EndingPeriod = '')
        begin
               	    select * from LoginLogs       
                    order by LoginDateTime
                    OFFSET (@Pagenumber-1)* @PageSize Rows
                    Fetch next @PageSize Rows Only   
        end
        else if (@Username IS NULL OR @Username = '')
                AND (@StartingPeriod IS NOT NULL)
                AND (@EndingPeriod IS NOT NULL )
        begin
                   select * from LoginLogs 
        		   where LoginDateTime >=@StartingPeriod and LoginDateTime <= @EndingPeriod
        		   order by LoginDateTime
        		   OFFSET (@Pagenumber-1)* @PageSize Rows
        		   Fetch next @PageSize Rows Only   
        
        end
		else 
        begin
                   select * from LoginLogs 
        		   where Username =@Username COLLATE Latin1_General_CS_AS 
        		                   and LoginDateTime >=@StartingPeriod and LoginDateTime <= @EndingPeriod
        		   order by LoginDateTime
        		   OFFSET (@Pagenumber-1)* @PageSize Rows
        		   Fetch next @PageSize Rows Only   
        
        end

	   
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMinimum_Maxmimum_DateInLoginLogs]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetMinimum_Maxmimum_DateInLoginLogs]
@MinimumDate DateTime output,
@MaximumDate DateTime output
as
begin
         select @MinimumDate =Min(LoginDateTime) ,@MaximumDate = Max(LoginDateTime)
         from LoginLogs;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPaidDebtsList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetPaidDebtsList]
as
begin
		with PersonFullName as
       (
       select PersonID ,concat(Firstname,' ',secondname,' ',Thirdname,' ',LastName) as FullName
       from People
       )
		SELECT Debts.DebtID as 'Debt ID', FullName as 'Renter Name', Debts.RentalID as 'Rental ID',Rentals.TotalFees as 'Amount',
		Case Debts.IsPaid
		when 0 then 'Not Paid'
		when 1 then 'Paid'
		end as 'Is Paid'
		FROM  Debts INNER JOIN
                  Renters ON Debts.RenterID = Renters.RenterID INNER JOIN
                  PersonFullName ON Renters.PersonID = PersonFullName.PersonID INNER JOIN
				  Rentals on Debts.RentalID = Rentals.RentalID
		where Debts.IsPaid=1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPeopleList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetPeopleList]
as
begin
		with PersonFullName as
       (
       select PersonID ,concat(Firstname,' ',secondname,' ',Thirdname,' ',LastName) as FullName
       from People
       )
		SELECT People.PersonID,PersonFullName.FullName,People.PhoneNumber,People.Email
		from People inner join 
		PersonFullName on People.PersonID = PersonFullName.PersonID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRentersList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetRentersList]
as
begin
		with PersonFullName as
       (
       select PersonID ,concat(Firstname,' ',secondname,' ',Thirdname,' ',LastName) as FullName
       from People
       )
		SELECT Renters.RenterID,PersonFullName.FullName, Renters.NationalNO,
		case Renters.IsBand
		when 0 then'Active'
		when 1 then 'Band'
		end as Status
         FROM     Renters INNER JOIN
                  PersonFullName ON Renters.PersonID =PersonFullName.PersonID;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReports]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetReports]
@ReportType int,
@PageNumber int,
@PageSize int,
@FromDate DateTime,
@ToDate DateTime,
@WithPaging bit,
@ReportTotalRecords int output,
@ReportTotalPages int output
AS
BEGIN
    set nocount on;

     -- 1 stands for the Rentals Sales Report
    IF(@ReportType = 1) 
	BEGIN

	 --create a table that will represnt the requested report and insert the query to it
	    DECLARE @RentalsSalesReport TABLE (
           RentalID INT,
           GameName NVARCHAR(20),
           Period VARCHAR(20),
           PaymentTypeName NVARCHAR(20),
           PaymentMethodName NVARCHAR(10),
           Amount DECIMAL(10, 2),
           UserID INT,
           Username NVARCHAR(30)
               );
       
	      INSERT INTO @RentalsSalesReport
	      select 
             Rentals.RentalID,
         	 Games.GameName ,
             RIGHT('0' + CAST(DATEDIFF(SECOND, StartDate, EndDate) / 3600 AS VARCHAR), 2) + ':' +
             RIGHT('0' + CAST((DATEDIFF(SECOND, StartDate, EndDate) % 3600) / 60 AS VARCHAR), 2) + ':' +
             RIGHT('0' + CAST(DATEDIFF(SECOND, StartDate, EndDate) % 60 AS VARCHAR), 2) AS Period,
             PaymentTypes.PaymentTypeName ,
         	 PaymentMethods.PaymentMethodName ,
         	 Payments.Amount ,
         	 Users.UserID,Users.Username
          from Rentals INNER JOIN
              Games on Rentals.GameID = Games.GameID
              INNER JOIN
              Payments on Rentals.PaymentID = Payments.PaymentID
              INNER JOIN
              PaymentTypes on Payments.PaymentTypeID = PaymentTypes.PaymentTypeID
              INNER JOIN
              PaymentMethods on Payments.PaymentMethodID =PaymentMethods.PaymentMethodID
              INNER JOIN
              Users on Payments.CreatedByUserID = Users.UserID
          where
              Rentals.StartDate >= @FromDate and Rentals.StartDate <= DATEADD(DAY,1,@ToDate);
          
	  --Get the total records that the requested report has
	  select @ReportTotalRecords =COUNT(*)from @RentalsSalesReport;
	  --Get the total pages
	  SET @ReportTotalPages = CEILING(CAST(@ReportTotalRecords AS FLOAT) / @PageSize);


	  --Show the requested report in pages or without paging
	  IF(@WithPaging =1)
	  BEGIN
	       select *
	       from @RentalsSalesReport
	       order By RentalID
		        OFFSET (@PageNumber-1)* @PageSize Rows
                    Fetch next @PageSize Rows Only;
	  END
	  ELSE
	  BEGIN
	     select *
	     from @RentalsSalesReport
	     order By RentalID;
	  END
	    
	 
	END
	ELSE IF (@ReportType =2)
	BEGIN
	--create a table that will represnt the requested report and insert the query to it
	    DECLARE @StoreSalesReport TABLE (
           CartPaymentID INT,
           CartID int,
           PaymentTypeName NVARCHAR(20),
           PaymentMethodName NVARCHAR(10),
		   PaymentDate DateTime,
           Amount DECIMAL(10, 2),
           UserID INT,
           Username NVARCHAR(30)
               );
               INSERT INTO @StoreSalesReport
               select
               CartPaymentID ,
               CartID,
               PaymentTypes.PaymentTypeName,
               PaymentMethods.PaymentMethodName,
               Payments.PaymentDate,
               Payments.Amount,
               Users.UserID,
               Users.Username
               from CartPayment 
                INNER JOIN
                Payments on CartPayment.PaymentID =Payments.PaymentID
                INNER JOIN
                PaymentTypes on Payments.PaymentTypeID = PaymentTypes.PaymentTypeID
                INNER JOIN
                PaymentMethods on Payments.PaymentMethodID =PaymentMethods.PaymentMethodID
                INNER JOIN
                Users on Payments.CreatedByUserID = Users.UserID
               where Payments.PaymentDate >= @FromDate and Payments.PaymentDate <= DATEADD(DAY,1,@ToDate);
               
       --Get the total records that the requested report has
	  select @ReportTotalRecords =COUNT(*)from @StoreSalesReport;
	   --Get the total pages
	  SET @ReportTotalPages = CEILING(CAST(@ReportTotalRecords AS FLOAT) / @PageSize);
	  
	  
	  --Get requested reprot with or without paging
	  IF(@WithPaging =1)
	  BEGIN
	        select *
	       from @StoreSalesReport
	       order By CartPaymentID
		       OFFSET (@PageNumber-1)* @PageSize Rows
                         Fetch next @PageSize Rows Only;
	  END
	  ELSE
	  BEGIN
	       select *
	       from @StoreSalesReport
	       order By CartPaymentID
	  END
	  
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTheGameRenterID]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetTheGameRenterID]
@GameID int,
@RenterID int output
as
begin
Select @RenterID= RenterID from DeviceRentals
where GameID =@GameID and RentalStatus ='Active';

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalLoginLogsRecords]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetTotalLoginLogsRecords]
@TotalRecords int output
as
begin

select @TotalRecords =Count(*) from LoginLogs 

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalLoginLogsRecords_ForUser]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetTotalLoginLogsRecords_ForUser]
@Username nvarchar(30),
@StartingPeriod DateTime,
@EndingPeriod DateTime,
@TotalRecords int output
as
begin
     if (@Username is not null or @Username = '')
	    AND @StartingPeriod is not null
		AND @EndingPeriod is not null
		begin
		      select @TotalRecords = Count(*) from LoginLogs
              where Username = @Username COLLATE Latin1_General_CS_AS
              and LoginDateTime >= @StartingPeriod and LoginDateTime <= @EndingPeriod
		end
		else if (@Username is null or @Username = '')
	    AND @StartingPeriod is not null
		AND @EndingPeriod is not null
		begin
		      select @TotalRecords = Count(*) from LoginLogs
              where LoginDateTime >=@StartingPeriod and LoginDateTime <= @EndingPeriod
		end
		else if (@Username is not null)
		begin
		      select @TotalRecords = Count(*) from LoginLogs
              where Username =@Username
		end

end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUnpaidDebtsList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetUnpaidDebtsList]

as
begin
		with PersonFullName as
       (
       select PersonID ,concat(Firstname,' ',secondname,' ',Thirdname,' ',LastName) as FullName
       from People
       )
		SELECT Debts.DebtID as 'Debt ID', FullName as 'Renter Name', Debts.RentalID as 'Rental ID',Rentals.TotalFees as 'Amount',
		Case Debts.IsPaid
		when 0 then 'Not Paid'
		when 1 then 'Paid'
		end as 'Is Paid'
		FROM  Debts INNER JOIN
                  Renters ON Debts.RenterID = Renters.RenterID INNER JOIN
                  PersonFullName ON Renters.PersonID = PersonFullName.PersonID INNER JOIN
				  Rentals on Debts.RentalID = Rentals.RentalID
				  
		where Debts.IsPaid=0; 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsersList]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetUsersList]
as
begin
       with PersonFullName as
       (
       select PersonID ,concat(Firstname,secondname,Thirdname,LastName) as FullName
       from People
       )
       select UserID,Username,FullName as 'Full Name',Role,
	   case IsActive
	   when 1 then 'Active'
	   when 0 then 'Not Active'
	   end as Status
	   from Users inner join PersonFullName
	   on Users.PersonID = PersonFullName.PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsDebtPaid]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsDebtPaid]
@DebtID int,
@IsPaid bit output

as
begin
		select @IsPaid =@IsPaid
		from Debts
		where DebtID =@DebtID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsDeviceRentalOnRent]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsDeviceRentalOnRent]
@GameID int,
@IsOnRent bit output
as
begin

		if exists (select 1 from DeviceRentals
		where GameID =@GameID and RentalStatus = 'Active')
		set @IsOnRent =1;
		else
		set @IsOnRent =0;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsGameAvailable]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsGameAvailable]
@GameID int,
@IsAvailable bit output
as
begin
	select @IsAvailable = Status
	from Games
	where GameID =@GameID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsNationalNoExists]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsNationalNoExists]
@NationalNo nvarchar(20),
@Found bit output
as
begin
		IF EXISTS (SELECT 1 FROM Renters WHERE NationalNO = @NationalNo COLLATE Latin1_General_CS_AS)
        SET @Found = 1;
        ELSE
        SET @Found = 0; 
end

GO
/****** Object:  StoredProcedure [dbo].[SP_ISPersonExists]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ISPersonExists]
@PersonID int ,
@ISFound Bit output
as 
begin 

    IF EXISTS (SELECT 1 FROM People WHERE PersonID = @PersonID)
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRentalPaid]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_IsRentalPaid]
@RentalID int,
@IsPaid bit output
as
begin
		IF EXISTS (SELECT 1 FROM Rentals WHERE RentalID = @RentalID AND PaymentID is not null )
        SET @IsPaid = 1;
    ELSE
        SET @IsPaid = 0; 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRenterBaned]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsRenterBaned]
@RenterID int,
@IsFound bit output
as
begin

    IF EXISTS (SELECT 1 FROM Renters WHERE RenterID = @RenterID and IsBand =1)
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsRenterExists]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsRenterExists]
@RenterID int,
@IsFound bit output
as
begin

    IF EXISTS (SELECT 1 FROM Renters WHERE RenterID = @RenterID)
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserActive]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsUserActive]
@UserID int,
@IsActive bit output
as
begin
    select @IsActive = IsActive
	from Users
	where UserID =@UserID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExists]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_IsUserExists]
@UserID int,
@IsFound bit output
as
begin

    IF EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID)
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUsernameExists]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsUsernameExists]
@Username nvarchar(30),
@IsFound bit output
as
begin
		
		IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username COLLATE Latin1_General_CS_AS)
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_LogLoginInfo]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_LogLoginInfo]
@UserID int,
@Username nvarchar(30),
@FullName nvarchar(80),
@LoginDateTime DateTime,
@RowsEffected int output
as
begin
			insert into LoginLogs (UserID,Username,FullName,LoginDateTime)
			values
			(@UserID,@Username,@FullName,@LoginDateTime);

			set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PreformCartPaymentOpreation]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PreformCartPaymentOpreation]
@CartID int,
@PaymentMethodID int,
@CreatedByUserID int,
@PaymentAmount decimal(10,2),
@Completed bit output
AS
BEGIN

		Begin Transaction;

	   declare @PaymentID int;

		     Begin Try
			       
				   --First opreation is to create new payment record
				   insert into Payments (PaymentTypeID,PaymentMethodID,PaymentDate,Amount,CreatedByUserID)
				   values
				   (2,@PaymentMethodID,GETDATE(),@PaymentAmount,@CreatedByUserID);

				   Set @PaymentID = SCOPE_IDENTITY();
				   --second opreation is creat the cart payment record
				   insert into CartPayment(CartID,PaymentID)
				   values
				   (@CartID,@PaymentID);

				   --Third Opreation is to lock the cart
				   update Carts
				   set IsLocked =1
				   where CartID =@CartID;

				   --set the flag to true
				   set @Completed =1;


				   COMMIT;
			 End Try
			 Begin Catch
			       -- set the flag to false
				   set @Completed =0;

				   ROLLBACK;
			 End Catch;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_PreformDeviceReturnForDebtRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PreformDeviceReturnForDebtRental]
@DeviceRentalID int,
@RenterID int,
@RentalID int,
@PaymentMethod int,
@TotalFees decimal,
@CreatedByUserID int,

@Completed bit output
AS
BEGIN
     BEGIN TRANSACTION;

	      declare @PaymentID int;

	 BEGIN TRY

	      --First opreation
		  update DeviceRentals
		  set RentalStatus ='Completed'
		  where DeviceRentalID =@DeviceRentalID;

		  --Second opreation
		  Insert into Payments(PaymentTypeID,PaymentMethodID,PaymentDate,Amount,CreatedByUserID)
		  values
		  (3,@PaymentMethod,GETDATE(),@TotalFees,@CreatedByUserID);

		  set @PaymentID = SCOPE_IDENTITY();

		  --Third opreation

		  update Debts
		  set IsPaid = 1
		  where RenterID =@RenterID and RentalID =@RentalID;

		  --fourth opreation

		  Update Rentals
		  set PaymentID =@PaymentID
		  where RentalID =@RentalID;

		  set @Completed =1;

		  COMMIT;
	 END TRY
	 BEGIN CATCH
	      set @Completed =0;

		  ROLLBACK;
	 END CATCH;
END



GO
/****** Object:  StoredProcedure [dbo].[SP_PreformNonDebtDeviceRentalOpreation]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PreformNonDebtDeviceRentalOpreation]
@GameID int ,
@StartDate Datetime,
@EndDate DateTime,
@TotalFees Decimal,
@CreatedByUserID int,
@RenterID int,
@RentalStatus nvarchar(20),
@Note nvarchar(100),
@PaymentMethod tinyint,

@Completed bit output
AS
BEGIN
		DECLARE @PaymentID int;
        DECLARE @RentalID int;


		Begin Transaction;
		     Begin Try
			       
				   --First opreation is creating the payment recod
				   Insert into Payments(PaymentTypeID,PaymentMethodID,PaymentDate,Amount,CreatedByUserID)
				   values
				   (3,@PaymentMethod,GetDate(),@TotalFees,@CreatedByUserID);

				   set @PaymentID = SCOPE_IDENTITY();

				   --second opreation is creating the rental record
				   Insert into Rentals(GameID,StartDate,EndDate,TotalFees,OnDebt,PaymentID,CreatedByUserID)
				   values
				   (@GameID,@StartDate,@EndDate,@TotalFees,0,@PaymentID,@CreatedByUserID);

				   set @RentalID =SCOPE_IDENTITY();

				   --third opreation is creating the device rental record
				   Insert into DeviceRentals(RenterID,RentalID,GameID,RentalStatus,Note)
				   values
				   (@RenterID,@RentalID,@GameID,@RentalStatus,@Note);

				   
				   set @Completed =1;


				   COMMIT;
			 End Try
			 Begin Catch
			       
				   set @Completed =0;

				   ROLLBACK;
			 End Catch;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_PreformOnDebtDeviceRentalOpreation]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PreformOnDebtDeviceRentalOpreation]
@GameID int ,
@StartDate Datetime,
@EndDate DateTime,
@TotalFees Decimal,
@CreatedByUserID int,
@RenterID int,
@RentalStatus nvarchar(20),
@Note nvarchar(100),

@Completed bit output
AS
BEGIN
		
        DECLARE @RentalID int;


		Begin Transaction;
		     Begin Try
			       
				   --First opreation is creating the payment recod
				   Insert into Rentals(GameID,StartDate,EndDate,TotalFees,OnDebt,PaymentID,CreatedByUserID)
				   values
				   (@GameID,@StartDate,@EndDate,@TotalFees,1,null,@CreatedByUserID);

				   set @RentalID =SCOPE_IDENTITY();

				   --second opreation is creating the rental record
				   Insert into DeviceRentals(RenterID,RentalID,GameID,RentalStatus,Note)
				   values
				   (@RenterID,@RentalID,@GameID,@RentalStatus,@Note);


				   --third opreation is creating the device rental record
				   Insert into Debts (RenterID,RentalID,IsPaid,CreatedByUserID)
				   values (@RenterID,@RentalID,0,@CreatedByUserID)

				   
				   set @Completed =1;


				   COMMIT;
			 End Try
			 Begin Catch
			       
				   set @Completed =0;

				   ROLLBACK;
			 End Catch;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_PreformPayDebtOpreatoin]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PreformPayDebtOpreatoin]
@RentalID int,
@PaymentTypeID int,
@PaymentMethodID int,
@CreatedByUserID int,
@TotalAmount decimal,

@Completed bit output
AS
BEGIN
     BEGIN TRANSACTION;

	      declare @PaymentID int;

	 BEGIN TRY

	     
		  --First opreation
		  Insert into Payments(PaymentTypeID,PaymentMethodID,PaymentDate,Amount,CreatedByUserID)
		  values
		  (@PaymentTypeID,@PaymentMethodID,GETDATE(),@TotalAmount,@CreatedByUserID);

		  set @PaymentID = SCOPE_IDENTITY();

		 
		  --Seconed opreation

		  Update Rentals
		  set PaymentID =@PaymentID
		  where RentalID =@RentalID;


		  --Third opreaton
		  update Debts
		  set IsPaid =1
		  where RentalID =@RentalID;

		  set @Completed =1;

		  COMMIT;
	 END TRY
	 BEGIN CATCH
	      set @Completed =0;

		  ROLLBACK;
	 END CATCH;
END



GO
/****** Object:  StoredProcedure [dbo].[SP_PreformRemoveItemFromCartItemsOpreation]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PreformRemoveItemFromCartItemsOpreation]
@CartItemID int,
@ItemID int,
@ReturnedQuantity int,
@Completed bit output
AS
BEGIN
		
		Begin Transaction;
		     Begin Try
			       
				   --First opreation is the item from the cart Items
				   delete from CartItmes
				   where CartItemID =@CartItemID;

				   --second opreation is update the store item qunatity
				   update StoreItems
				   set Quantity = Quantity + @ReturnedQuantity
				   where ItemID =@ItemID;

				   set @Completed =1;


				   COMMIT;
			 End Try
			 Begin Catch
			       
				   set @Completed =0;

				   ROLLBACK;
			 End Catch;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCart]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateCart]
@CartID int,
@IsLocked bit,
@CreatedByUserID int,
@RowsEffected int output
as
begin
		update Carts
		set
		IsLocked =@IsLocked,
		CreatedByUserID =@CreatedByUserID
		
		where CartID =@CartID;

		set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCartItem]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateCartItem]
@CartItemID int,
@CartID int,
@ItemID int,
@Quantity int,
@RowsEffected int output
as
begin
		update CartItmes
		set
		CartID =@CartID,
		ItemID =@ItemID,
		Quantity =@Quantity
		
		where CartItemID =@CartItemID;

		set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDebt]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateDebt]
@DebtID int,
@RenterID int,
@RentalID int,
@IsPaid bit,
@CreatedByUserID int,
@RowsEffected int output

as
begin
		update Debts
		set
		RenterID =@RenterID,
		RentalID =@RentalID,
		IsPaid =@IsPaid,
		CreatedByUserID =@CreatedByUserID
		where DebtID =@DebtID;

		set @RowsEffected =@@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDeviceRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateDeviceRental]
@DeviceRentalID int,
@RenterID int,
@RentalID int,
@GameID int,
@RentalStatus nvarchar(20),
@Note nvarchar (100),
@RowsEffected int output
as
begin

		update DeviceRentals
		set
		RenterID =@RenterID,
		RentalID = @RentalID,
		GameID =@GameID,
		RentalStatus =@RentalStatus,
		Note =@Note
		where DeviceRentalID =@DeviceRentalID;

		set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateGame]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateGame]
@GameID int,
@GameTypeID int,
@GameName nvarchar(20),
@Rate decimal(10,2),
@Status bit,
@DisplayOrder int,
@RowsEffected int output
as
begin
		update Games
		set
		GameTypeID =@GameTypeID,
		GameName =@GameName,
		Rate =@Rate,
		Status =@Status,
		DisplayOrder =@DisplayOrder
		where GameID =@GameID;

		set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePersonInfo]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdatePersonInfo]
@PersonID int,
@FirstName nvarchar(15),
@SecondName nvarchar(15),
@ThirdName nvarchar (15),
@LastName nvarchar (15),
@PhoneNumber nvarchar(15),
@Email nvarchar (50),
@RowsEffected int output
as 
begin
     UPDATE People
   SET FirstName = @FirstName
      ,SecondName = @SecondName
      ,ThirdName = @ThirdName
      ,LastName = @LastName
      ,PhoneNumber = @PhoneNumber
      ,Email = @Email
 WHERE PersonID =@PersonID

 set @RowsEffected = @@ROWCOUNT

end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRental]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateRental]
@RentalID int,
@GameID int ,
@StartDate DateTime,
@EndDate DateTime,
@TotalFees decimal(10,2),
@OnDebt bit,
@PaymentID int,
@CreatedByUserID int,
@RowsEffected int output
as
begin
		Update Rentals
		set
        GameID =@GameID,
        StartDate =@StartDate,
        EndDate =@EndDate,
        TotalFees =@TotalFees,
        OnDebt =@OnDebt,
        PaymentID =@PaymentID,
        CreatedByUserID =@CreatedByUserID
		where RentalID =@RentalID;

		set @RowsEffected = @@ROWCOUNT;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRenter]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateRenter]
@RenterID int,
@PersonID int,
@NationalNo nvarchar(20),
@IsBand bit,
@RowsEffected int output
as
begin
		update Renters
		set 
		PersonID =@PersonID,
		NationalNO =@NationalNo,
		IsBand =@IsBand
		where RenterID =@RenterID;

		set @RowsEffected =@@ROWCOUNT;
end

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStoreCategroy]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateStoreCategroy]
@CategoryName nvarchar(30),
@CategoryID int,
@RowsEffected int output
as
begin
     update StoreCategories
	 set 
	 StoreCategories.Name=@CategoryName
	 where CategoryID =@CategoryID;

	 set @RowsEffected = @@ROWCOUNT;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStoreItem]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateStoreItem]
@ItemID int,
@CategoryID int,
@ItemName nvarchar(30),
@Price decimal(10,2),
@Quantity int,
@ItemImagePath nvarchar(250),
@RowsEffected int output
as
begin
       UPDATE StoreItems
   SET CategoryID = @CategoryID
      ,ItemName = @ItemName
      ,Price = @Price
      ,Quantity = @Quantity
      ,ItemImagePath = @ItemImagePath

    WHERE ItemID =@ItemID

 set @RowsEffected = @@ROWCOUNT
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 10/27/2025 10:46:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateUser]
@UserID int,
@PersonID int,
@Username nvarchar(30),
@Password nvarchar(64),
@Role nvarchar (10),
@IsActive bit,
@RowsEffected int output
as
begin
      update Users
	  Set
	  PersonID =@PersonID,
	  Username =@Username,
	  Password = @Password,
	  Role =@Role,
	  IsActive =@IsActive
	  where UserID =@UserID


	  set @RowsEffected = @@ROWCOUNT;
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Active 2-Completed 3-Cancelled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DeviceRentals', @level2type=N'COLUMN',@level2name=N'RentalStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 "Available", 0 "Not-Available"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Games', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''Supervisor'' ''Admin'' ''User''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Role'
GO
USE [master]
GO
/****** Setting the default user   Script Date: 10/27/2025 10:46:51 AM ******/
INSERT INTO Users (Username, Password)
VALUES ('admin', 'admin');